@page "/DetalleSistemas"
@page "/DetalleSistemas/{SistemaId:int}"
@inject SistemaSERVICES sistemaservices

<div class="card">
    <div class="card-header">
        <h3>Detalles de Sistema</h3>
        <a href="/RegistroSistemas" class="btn btn-outline-primary">Crear</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>SistemaId</th>
                    <th>Nombre del Sistema</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sistema in ListaSistemas)
                {
                    <tr>
                        <td><a href="/RegistroSistemas/@sistema.SistemaId">@sistema.SistemaId</a></td>
                        <td>@sistema.NombredeSistema</td>
                        <td><a href="/EditarSistema/@sistema.SistemaId" class="bi bi-pencil-square"></a></td>
                        <td><a href="/EliminarSistema/@sistema.SistemaId" class="bi bi-trash"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
[Parameter]
    public int SistemaId { get; set; }
    public Sistema sistema { get; set; } = new Sistema();
    public List<Sistema> ListaSistemas { get; set; } = new List<Sistema>();

    protected override void OnInitialized()
    {
        ListaSistemas = sistemaservices.Listar(t => true);
    }
}
