@page "/DetallePrioridad"
@page "/DetallePrioridad/{RegistroPrioridadId:int}"
@inject PrioridadService prioridadservice

<div class="card">
    <div class="card-header">
        <h3>Detalles de Prioridades</h3>
        <a href="/RegistroPrioridad" class="btn btn-outline-primary">Crear</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Días Compromiso</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prioridad in ListaPrioridades)
                {
                    <tr>
                        <td><a href="/RegistroPrioridad/@prioridad.PrioridadId">@prioridad.PrioridadId</a></td>
                        <td>@prioridad.Descripcion</td>
                        <td>@prioridad.DiasCompromiso</td>
                        <td><a href="/EditarPrioridad/@prioridad.PrioridadId" class="bi bi-pencil-square"></a></td>
                        <td><a href="/EliminarPrioridad/@prioridad.PrioridadId" class="bi bi-trash"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public int RegistroPrioridadId { get; set; }
    public Prioridades prioridad { get; set; } = new Prioridades();
    public List<Prioridades> ListaPrioridades { get; set; } = new List<Prioridades>();

    protected override async Task OnInitializedAsync()
    {
        ListaPrioridades =await prioridadservice.Listar(t => true);
    }
    public async Task Buscar()
    {
        if (RegistroPrioridadId > 0)
        {
            prioridad.PrioridadId = RegistroPrioridadId;
            var prioridadEncontrada = prioridadservice.Buscar(prioridad.PrioridadId);

            if (prioridadEncontrada != null)
            {
                prioridad =await prioridadEncontrada;
            }
        }
    }
    public async Task Recargar()
    {
        ListaPrioridades =await prioridadservice.Listar(t => true);
    }
}